[Desktop Entry]
Name=Files
Comment=Browse and manage files and folders
Exec=coraos-files %U
Icon=system-file-manager
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
StartupNotify=true
Keywords=file;folder;manager;browser;explorer;
